<% provide :title, t(".edit_post") %>
<% provide :button_text, t("posts.new.save_changes") %>
<section>
  <div class="container">
    <h1 class="text-center"><%= t ".edit_post" %></h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= render "form" %>
      </div>
    </div>
  </div>
</section>
