$mine-shaft: #252525;
$light-mine-shaft: #353535;
$tundora: #454545;
$boulder: #757575;
$shamrock: #29ca8e;
$white: #ffffff;
$san_marino: #3F51B5;
$scorpion: #575757;
$alabaster: #f9f9f9;
$gallery: #F0F0F0;
$revell: #eee;
$gray: #909090;
$alto: #d9d9d9;
$cod-gray: #101010;
$black: #000000;
